################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmailSender.DataLayer/.vs/EmailSender.Repository/v15
